HELP.md
target/

# === [수정] target 폴더가 다시 포함되던 예외 처리(!...) 코드 제거 완료 ===

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# === [추가] 사진에 있던 메이븐 실행 파일 및 압축 파일 완전히 제외 ===
.mvn/
mvnw
mvnw.cmd
*.zip
greenlibrary.zip